root = true

[*]
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true
vc_generate_documentation_comments = doxygen_slash_star
charset = utf-8

[src/modules/ui/dearimgui/ImGuizmo.*]
indent_style = space
indent_size = 3

[*.{py,html,plist.in}]
indent_style = space

[src/modules/voxelformat/external/ogt_vox.h]
indent_style = space

[src/modules/voxelformat/external/tiny_gltf.h]
indent_style = space

[src/modules/voxelformat/external/tiny_obj_loader.h]
indent_style = space

[src/modules/core/external/strnatcmp.*]
indent_style = space

[.github/workflows/*.yml]
indent_style = space
