Source: vengi
Section: graphics
Priority: optional
Maintainer: Martin Gerhardy <martin.gerhardy@gmail.com>
Build-Depends:
 bash-completion,
 cmake,
 dh-cmake,
 dh-cmake-compat (= 1),
 dh-sequence-cmake,
 debhelper,
 binutils-dev,
 libunwind-dev,
 libcurl-ssl-dev,
 libdeflate-dev,
 libjpeg-dev,
 libsdl2-dev,
 libfreetype-dev,
 liblua5.4-dev,
 wayland-protocols,
 pkg-config,
 zlib1g-dev
Standards-Version: 4.1.4
Homepage: https://github.com/vengi-voxel/vengi
Vcs-Git: https://github.com/vengi-voxel/vengi
Vcs-browser: https://github.com/vengi-voxel/vengi

Package: vengi-shared
Architecture: any
Multi-Arch: foreign
Description: Shared stuff like mimetypes
 Shared package for the other vengi packages. You can find the general
 documentation here as well as e.g. mimetypes.

Package: vengi-voxedit
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}, vengi-shared
Recommends: vengi-thumbnailer, vengi-voxconvert, vengi-palconvert
Description: Voxel editor
 Voxel editor that supports many different formats. It features a lot of
 tools to modify, create and animate voxel models.

Package: vengi-thumbnailer
Architecture: any
Multi-Arch: foreign
Recommends: vengi-voxedit, vengi-voxconvert, vengi-palconvert
Depends: ${misc:Depends}, ${shlibs:Depends}, vengi-shared
Description: Thumbnailer for voxel models
 Thumbnailer for voxel models that supports many different formats. It can
 be used to generate thumbnails for your file manager.

Package: vengi-voxconvert
Architecture: any
Multi-Arch: foreign
Recommends: vengi-voxedit, vengi-thumbnailer, vengi-palconvert
Depends: ${misc:Depends}, ${shlibs:Depends}, vengi-shared
Description: Convert, export or modify voxel volumes
 Command line tool to convert, export or modify voxel volumes. It supports
 many different formats and can be used to batch process files.

Package: vengi-palconvert
Architecture: any
Multi-Arch: foreign
Recommends: vengi-voxedit, vengi-thumbnailer, vengi-voxconvert
Depends: ${misc:Depends}, ${shlibs:Depends}, vengi-shared
Description: Load palette formats
 Command line tool to load palette formats and convert them to other formats.
 It supports many different formats and can be used to batch process files.
