Source: vengi
Section: graphics
Priority: optional
Maintainer: Martin Gerhardy <martin.gerhardy@gmail.com>
Build-Depends:
 bash-completion,
 cmake,
 dh-cmake,
 dh-cmake-compat (= 1),
 dh-sequence-cmake,
 debhelper,
 binutils-dev,
 libunwind-dev,
 libcurl-ssl-dev,
 libdeflate-dev,
 libjpeg-dev,
 libsdl2-dev,
 libfreetype-dev,
 liblua5.4-dev,
 wayland-protocols,
 pkg-config
Standards-Version: 4.1.4
Homepage: https://github.com/vengi-voxel/vengi
Vcs-Git: https://github.com/vengi-voxel/vengi
Vcs-browser: https://github.com/vengi-voxel/vengi

Package: vengi-shared
Architecture: any
Multi-Arch: foreign
Description: Shared stuff like mimetypes
 Shared package for the other vengi packages. You can find the general
 documentation here as well as e.g. mimetypes.

Package: vengi-voxedit
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}, vengi-shared
Recommends: vengi-thumbnailer, vengi-voxconvert, vengi-palconvert
Description: Voxel editor

Package: vengi-thumbnailer
Architecture: any
Multi-Arch: foreign
Recommends: vengi-voxedit, vengi-voxconvert, vengi-palconvert
Depends: ${misc:Depends}, ${shlibs:Depends}, vengi-shared
Description: Thumbnailer for voxel models

Package: vengi-voxconvert
Architecture: any
Multi-Arch: foreign
Recommends: vengi-voxedit, vengi-thumbnailer, vengi-palconvert
Depends: ${misc:Depends}, ${shlibs:Depends}, vengi-shared
Description: Convert, export or modify voxel volumes

Package: vengi-palconvert
Architecture: any
Multi-Arch: foreign
Recommends: vengi-voxedit, vengi-thumbnailer, vengi-voxconvert
Depends: ${misc:Depends}, ${shlibs:Depends}, vengi-shared
Description: Load palette formats
