Source: vengi
Section: graphics
Priority: optional
Maintainer: Martin Gerhardy <martin.gerhardy@gmail.com>
Build-Depends:
 cmake,
 debhelper,
 libsdl2-dev,
 postgresql-server-dev-all,
 libpq-dev,
 libenet-dev,
 libuv1-dev,
 opencl-c-headers,
 wayland-protocols,
 pkg-config,
 uuid-dev,
 flatbuffers-compiler,
 libflatbuffers-dev,
 libsdl2-mixer-dev
Standards-Version: 4.1.4
Homepage: https://github.com/mgerhardy/vengi
Vcs-Git: https://github.com/mgerhardy/vengi
Vcs-browser: https://github.com/mgerhardy/vengi

Package: vengi-shared
Architecture: any
Multi-Arch: foreign
Description: Shared stuff like mimetypes
 Shared package for the other vengi packages. You can find the general
 documentation here as well as e.g. mimetypes.

Package: vengi-voxedit
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}, vengi-shared
Recommends: vengi-thumbnailer
Description: Voxel editor
 Load support:
  Qubicle Binary (*.qb)
  MagicaVoxel (*.vox)
  Qubicle Binary Tree (*.qbt)
  Qubicle Project (*.qbcl)
  Sandbox VoxEdit Model (*.vxm)
  Sandbox VoxEdit Hierarchy (*.vxr)
  BinVox (*.binvox)
  Goxel (*.gox)
  CubeWorld (*.cub)
  Sproxel csv (*.csv)
  Build engine (*.kvx)
  Ace of Spades (*.kv6)
  Tiberian Sun (*.vxl)
  AceOfSpades (*.vxl)
  Qubicle Exchange (*.qef)
  Chronovox (*.csm)
  Nicks Voxel Model (*.nvm)
 Save support:
  Qubicle Binary (*.qb)
  MagicaVoxel (*.vox)
  Qubicle Binary Tree (*.qbt)
  Sandbox VoxEdit Model (*.vxm)
  Sandbox VoxEdit Hierarchy (*.vxr)
  BinVox (*.binvox)
  Goxel (*.gox)
  Sproxel csv (*.csv)
  CubeWorld (*.cub)
  Tiberian Sun (*.vxl)
  Qubicle Exchange (*.qef)
  WaveFront OBJ (*.obj)
  Polygon File Format (*.ply)
  Wavefront Object (*.obj)
  Polygon File Format (*.ply)

Package: vengi-thumbnailer
Architecture: any
Multi-Arch: foreign
Recommends: vengi-voxedit
Depends: ${misc:Depends}, ${shlibs:Depends}, vengi-shared
Description: Thumbnailer for voxel models
 Load support:
  Qubicle Binary (*.qb)
  MagicaVoxel (*.vox)
  Qubicle Binary Tree (*.qbt)
  Qubicle Project (*.qbcl)
  Sandbox VoxEdit Model (*.vxm)
  Sandbox VoxEdit Hierarchy (*.vxr)
  BinVox (*.binvox)
  Goxel (*.gox)
  CubeWorld (*.cub)
  Sproxel csv (*.csv)
  Build engine (*.kvx)
  Ace of Spades (*.kv6)
  Tiberian Sun (*.vxl)
  AceOfSpades (*.vxl)
  Qubicle Exchange (*.qef)
  Chronovox (*.csm)
  Nicks Voxel Model (*.nvm)

Package: vengi-voxconvert
Architecture: any
Multi-Arch: foreign
Recommends: vengi-voxedit, vengi-thumbnailer
Depends: ${misc:Depends}, ${shlibs:Depends}, vengi-shared
Description: Convert, export or modify voxel volumes
 Load support:
  Qubicle Binary (*.qb)
  MagicaVoxel (*.vox)
  Qubicle Binary Tree (*.qbt)
  Qubicle Project (*.qbcl)
  Sandbox VoxEdit Model (*.vxm)
  Sandbox VoxEdit Hierarchy (*.vxr)
  BinVox (*.binvox)
  Goxel (*.gox)
  CubeWorld (*.cub)
  Sproxel csv (*.csv)
  Build engine (*.kvx)
  Ace of Spades (*.kv6)
  Tiberian Sun (*.vxl)
  AceOfSpades (*.vxl)
  Qubicle Exchange (*.qef)
  Chronovox (*.csm)
  Nicks Voxel Model (*.nvm)
 Save support:
  Qubicle Binary (*.qb)
  MagicaVoxel (*.vox)
  Qubicle Binary Tree (*.qbt)
  Sandbox VoxEdit Model (*.vxm)
  Sandbox VoxEdit Hierarchy (*.vxr)
  BinVox (*.binvox)
  Goxel (*.gox)
  Sproxel csv (*.csv)
  CubeWorld (*.cub)
  Tiberian Sun (*.vxl)
  Qubicle Exchange (*.qef)
  WaveFront OBJ (*.obj)
  Polygon File Format (*.ply)
  Wavefront Object (*.obj)
  Polygon File Format (*.ply)
