#!/usr/bin/make -f

%:
	dh $@ --buildsystem=cmake+ninja --with bash-completion

override_dh_auto_configure:
	dh_auto_configure -- -DUNITTESTS:BOOL=OFF -DCMAKE_BUILD_TYPE:STRING=Release -DVISUALTESTS:BOOL=OFF -DCMAKE_UNITY_BUILD:BOOL=ON -DPKGDATABASEDIR:STRING=/usr/share/

override_dh_auto_test:
