---
Checks:          'clang-diagnostic-*,clang-analyzer-*,modernizer*,-clang-analyzer-alpha*,performance-*,readability-*'
CheckOptions:
  - key:   readability-identifier-naming.MethodCase
    value: camelBack
  - key:   readability-identifier-naming.ParameterCase
    value: camelBack
...
