---
Checks:          'clang-diagnostic-*,clang-analyzer-*,performance-*,portability-*,bugprone-*,-bugprone-easily-swappable-parameters,-bugprone-implicit-widening-of-multiplication-result,-bugprone-narrowing-conversions'
CheckOptions:
  - key:   readability-identifier-naming.MethodCase
    value: camelBack
  - key:   readability-identifier-naming.ParameterCase
    value: camelBack
...
