---
Checks:          'clang-diagnostic-*,clang-analyzer-*,performance-*,portability-*'
CheckOptions:
  - key:   readability-identifier-naming.MethodCase
    value: camelBack
  - key:   readability-identifier-naming.ParameterCase
    value: camelBack
...
